<div class="controls">
    <button class="btn btn-primary">Load more meteorites</button>
    <input type="number" class="form-control" placeholder="Amount..."/>
    <h3>You have loaded...</h3>
    <p></p>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">`
        
    </div>
</div>


<svg></svg>