packages
packages .

.vs
.vs .

Domain/obj
Domain/obj .
Domain/obj/**
Domain/obj/**/*

Domain/bin
Domain/bin .
Domain/bin/**
Domain/bin/**/*

HookIn/obj
HookIn/obj .
HookIn/obj/**
HookIn/obj/**/*

UI/obj
UI/obj .
UI/obj/**
UI/obj/**/*

UI/bin
UI/bin .
UI/bin/**
UI/bin/**/*

UI/appsettings.json