body {
    overflow: hidden;
}

.countries {
    stroke-width: 1;
    stroke: black;
    fill: white;
}

.countries:hover {
    fill: #718792;
}

.meteorites {
    stroke-width: 1;
    fill: red;
    opacity: 1;
}

.centroid {
    fill: #75739F;
    pointer-events: none;
}

.bbox {
    fill: none;
    stroke-dasharray: 5 5;
    stroke: #75739F;
    stroke-width: 2;
    pointer-events: none;
}

.graticule {
    fill: none;
    stroke-width: 0.5;
    stroke: white;
    opacity: 0.3;
}

.graticule.outline {
    stroke: white;
    stroke-width: 1;
    opacity: 1;
}

.merged {
    fill: #9A8B7A;
    stroke: #4F442B;
    stroke-width: 2px;
}

svg {
    background-color: black;
}

.tooltip {
    color: black;
    position: absolute;
    text-align: center;
    width: 100px;
    height: 45px;
    padding: 2px;
    font: 12px sans-serif;
    background: #718792;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}

/* MODAL */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    text-align: center;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.form-control {
    width: 81%;
    border-radius: 0;
}

.controls {
    position: absolute;
    top: 0;
    left: 0;
}

.btn-primary {
    background-color: white;
    color: black;
    border: none;
    border-radius: 0;
}

.btn-primary:hover {
    background: grey;
}

p, h3 {
    color: white;
}